.CirclePadding {
    display: flex;
    align-items: center;
    justify-content: center;
}

.CircleContainerBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #2b296b;
    border-radius: 5px;
    padding: 40px;
}

.clockCircleImg {
    width: min-content;
    height: 500px;
}

.VerticalBreak{
    width: 40px;
    height: 500px;
    border: 10px;
}

.CircleDescription {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Sasoon Primary";
    color: white;
    background-color: #2b296b;
    border-radius: 5px;
    width: 500px;
    height: 580px;
    padding: 40px;
    font-size: 150%;
}

.CircleOnObject{
    width: min-content;
    height: 500px;
}

.showCircleShapeBtn{
    color: #2b296b;
    font-weight: bold;
    border-color: black;
    border-radius: 5px;
}