.navbar {
    background-color: black;
    color: white;
    width: 100vw;
}

.navbar-nav {
    font-size: 115%;
    font-family: "Sasoon Primary";
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}
