.page{
    display: flex;
    width: 100%;
}

.QuestionTextContainer {
    background-color: black;
    font-family: "Sasoon Primary";
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 80vw;
    height: 5vw;
    padding: 5%;
}

.QuestionContainer {
    background-color: darkslategray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 40vw;
    height: 30vw;
}

.QuestionImage {
    width: 19vw;
    border-radius: 5px; 
}

.InfoQuizContainer {
    background-color: darkslategray;
    font-family: "Sasoon Primary";
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 40vw;
    height: 30vw;
}

.btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 10%;
    border-radius: 10px;
}

.btn:hover {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 10%;
}

.btn:visited {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom: 10%;
}

.MultipleChoiceContainer {
    background-color: rgb(161, 181, 202);
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 20vw;
    height: 23vh;
    position: relative;    
}

.form-check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

input[type=radio]:checked + img{
    border: 5px solid black;
}


.ShapeAnswerOne {
    width: 9vw;
}

.ShapeAnswerTwo {
    width: 9vw;
}

.ShapeAnswerThree {
    width: 9vw;
}